@font-face {
    font-family: 'TT Lakes';
    src: url("/fonts/TTLakes-Black.ttf");
}

.header{
    background: #FFFFFF;
}
.main{
 background: #F8F8F8;

}
.menuback{
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 85.26%;
  
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.services{ 
    display: flex;
    flex-direction: column;
    
    width: 320px;
    
    left: 0px;
    top: 88px;    
      
}
.title__services{
    margin: 3% 0px;
    height: 40px;
    left: 5%;
    right: 5%;
    top: calc(50% - 40px/2 - 166.5px);
    
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    letter-spacing: -0.6px;
    color: #1B1C21;

}
.uslugi__detail{
    padding: inherit;
    position: relative;
    text-align: center;
    margin: 5px 0px;
}
.about__services{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__services{
    width: max-content;
}
.item__services{
    display: inline-block;
    list-style-type: none;
  border: none; 
  width: max-content;
}
.menuback__call, .menuback__chat, .menuback__profile{
    display: none;
}
.item__services a{
    
    
    padding: 3% 1em 3% 1em;
    box-sizing: border-box;
    width: max-content;
    height: 40px;
    left: 262px;
    right: -188px;
    top: calc(50% - 40px/2 - 102.5px);
    border-radius: 6px;
    text-decoration: none;
}
.item__services.active {
    
    padding: 0.6em 0em 0.6em 0em;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.photo__img{
    left: 0%;
    right: 0%;
    top: 64.66%;
    bottom: 5.86%;
    width: 320px;
}
.description__base{
    min-width: 278px;
    padding: 2%;
    width: 278px;
    padding: 2%;
}
.description__base p{
    
left: 5%;
right: 5%;
top: calc(50% - 90px/2 - 13.5px);

font-family: 'TT Lakes';
font-size: 14px;
line-height: 18px;
/* or 129% */

letter-spacing: 0.2px;

color: #1B1C21;

}

.description__base p:last-child{
    display: none;
}



.description__readmore {
    display: flex;
    margin-left: 3%;
    margin-bottom: 3%;
}

.description__readmore a{
    font-weight: 600;
    text-decoration: none;
    height: 24px;
left: 15%;
right: 53.75%;
top: calc(50% - 24px/2 + 59.5px);

font-family: 'TT Lakes';
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.2px;

color: #1B1C21;
}

.photo__services{
    margin-left: -10%;
    height: 230.80474853515625px;
    /* width: 320px; */
    left: 0px;
    top: 358.5732421875px;
    border-radius: 0px;
    width: 320px;
    min-width: 320px;
}
@media (orientation:portrait){


}
@media (orientation:landscape){


}


@media (min-width:767px){
    .menuback__call, .menuback__chat, .menuback__profile{
        display: block;
    }

    .services{ 
        display: flex;
        flex-direction: column;
        
        width: 320px;
        
        left: 0px;
        top: 88px;    
          
    }
    .title__services{
        margin: 3% 0px;
        height: 40px;
        left: 5%;
        right: 5%;
        top: calc(50% - 40px/2 - 166.5px);
        
        font-size: 28px;
        line-height: 40px;
        /* identical to box height, or 143% */
        letter-spacing: -0.6px;
        color: #1B1C21;
    
    }
    .uslugi__detail{
        padding: inherit;
        position: relative;
        text-align: center;
        margin:5px 0px;
    }
    .about__services{
    
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .description__services{
        min-width: 340px;
        margin-left: 0px;
       
    }
    .menu__services{
        width: max-content;
    }
    .item__services{
        display: inline-block;
        list-style-type: none;
      border: none; 
      width: max-content;
    }
    .menuback__call, .menuback__chat, .menuback__profile{
        display: none;
    }
    .item__services a{
        
        
        padding: 3% 1em 3% 1em;
        box-sizing: border-box;
        width: max-content;
        height: 40px;
        left: 262px;
        right: -188px;
        top: calc(50% - 40px/2 - 102.5px);
        border-radius: 6px;
        text-decoration: none;
    }
    .item__services.active {
        
        padding: 0.6em 0em 0.6em 0em;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .photo__img{
       
        max-width: 100%;
        margin: 9% 0px;
        left: 48.98%;
right: 5.1%;
top: 45.63%;
bottom: 2.85%;
height: auto;
min-width: 360px;
left: 384px;
top: 230px;
border-radius: 0px;

    }
    .description__base{
      
        padding: 2%;
        
    }
    .description__base p{
        width: 312px;

left: 24px;
top: 256px;

font-family: 'TT Lakes';
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

color: #1B1C21;
    }



    .description__base p:last-child{
        display: block;
    }

    .description__readmore {
        display: flex;
        margin-left: 3%;
        margin-bottom: 3%;
    }
    
    .description__readmore a{
        width: 100px;
        height: 24px;
        left: 57px;
        top: 426px;
        
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        
        letter-spacing: -0.2px;
        
        color: #1B1C21;
    }
    
 .photo__services{
    display: flex;
     margin-left: 0px;
 }


}

@media (max-width:327px) {
 
    .description__services{
   
        margin-left: -15%;
        min-width: 278px;
        width: 80%;
    }

}
@media (min-width:327px) {

    .menuback__call, .menuback__chat, .menuback__profile{
        display: block;
    }
    

}

/*@media (max-width:767px) and(max-width:327px) {
    .menuback__call, .menuback__chat, .menuback__profile{
        display: block;
    }

}*/




@media (min-width:992px){




    .uslugi__detail{
        padding: inherit;
        position: relative;
        text-align: center;
        margin:5px 0px;
    }
    .about__services{
    
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .description__services{
        min-width: 490px;
        margin-left: 0px;
       
    }
    .menu__services{
        width: max-content;
    }
    .item__services{
        display: inline-block;
        list-style-type: none;
      border: none; 
      width: max-content;
    }
    .menuback__call, .menuback__chat, .menuback__profile, .menuback__devider{
        display: none;
    }
    .item__services a{
        
        
        padding: 3% 1em 3% 1em;
        box-sizing: border-box;
        width: max-content;
        height: 40px;
        left: 262px;
        right: -188px;
        top: calc(50% - 40px/2 - 102.5px);
        border-radius: 6px;
        text-decoration: none;
    }
    .item__services.active {
        
        padding: 0.6em 0em 0.6em 0em;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .photo__img{
       
        max-width: 100%;
        margin: 9% 0px;
        left: 48.98%;
right: 5.1%;
top: 45.63%;
bottom: 2.85%;
height: auto;



left: 50.04%;
right: 2.56%;
top: 26.29%;
bottom: 2.08%;

height: 383.24127197265625px;
min-width: 531.34619140625px;
left: 561px;
top: 140.625px;
border-radius: 0px;


    }
    .description__base{
      
        padding: 2%;
        
    }
    .description__base p{
        width: 490px;

left: 24px;
top: 256px;

font-family: 'TT Lakes';
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

color: #1B1C21;
    }



    .description__base p:last-child{
        display: block;
    }

    .description__readmore {
        display: flex;
        margin-left: 3%;
        margin-bottom: 3%;
    }
    
    .description__readmore a{
        width: 100px;
        height: 24px;
        left: 57px;
        top: 426px;
        
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        
        letter-spacing: -0.2px;
        
        color: #1B1C21;
    }
    
 .photo__services{
     
    display: flex;
     margin-left: 0px;
 }





}
@media(min-height:500px){

}






